[submodule "ext/Qt-Advanced-Docking-System"]
	path = ext/Qt-Advanced-Docking-System
	url = git@github.com:githubuser0xFFFF/Qt-Advanced-Docking-System.git
[submodule "ext/klive"]
	path = ext/klive
	url = git@github.com:hsaturn/klive.git
